table {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.2em;
	font-size : 1em;
	margin: 1em auto;
	width: 80%;
	overflow:auto;
}

table th {
	font-style: bold;
	border: 1px solid black;
	padding: 0.2em;
}

table td {
	border: 1px solid black;
	color: white;
	padding: 0.2em;
	text-align: center;
}

h1 {
	margin: 1em;
	text-align: center;
}

h2 {
	margin: 1em;
	text-align: center;
}

.buttonHolder {
	margin: 1em;
    text-align:center;
}

.table-wrapper
{
	background-color: darkgrey;
	margin: 0.5em;
    overflow: auto;
}

.close-button
{
	float:right;
	width: 32px;
	height : 32px;
	padding: 0 0 0 0;
	border: none;
	background: #00695D;
}

div
{
	overflow:auto;
}