.overlay
{
    display : none;
    position : fixed;
    padding : 5px;
    left : 50%;
    top : 10%;
    width : 400px;
    height : 200px;
    margin-left: -200px;
    background : rgb(230,220,220);
    border : solid blue thick;
}

#userInfo
{
    float: left;
    width: 50%;
}
#mapTitle
{
    float: left;
    width 50%;
}

#map-canvas
{
    float: right;
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}